body {
    font: 13px/16px Arial, Helvetica, sans-serif;
    min-width: 960px;
}
a {
    color: #66a037;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
/* wrapper */
#wrapper {
    width: 100%;
}
/* header */
#header {
    width: 960px;
    margin: 0 auto;
    padding: 34px 0 0;
}
.home #header {
    padding-top: 0;
}
.top-bar {
    background: #66a137;
    color: #fff;
    padding: 14px 12px 12px;
    min-height: 19px;
    margin: 0 0 8px;
}
.top-bar:after,
.nav-bar:after,
#section:after,
.news .columns:after,
#footer .holder:after,
.dilers:after,
.tabset:after {
    display: block;
    content: '';
    clear: both;
}
.top-bar .block-locale {
    font-size: 15px;
    float: left;
}
.top-bar .block-locale li {
    float: left;
    border-left: 1px solid #fff;
    padding: 0 5px 0 4px;
}
.top-bar .block-locale li:first-child {
    border-left: none;
}
.top-bar .block-locale a {
    color: #000;
    text-decoration: none;
}
.top-bar .block-locale a:hover {
    text-decoration: underline;
}
.top-bar .block-locale .active a {
    color: #fff;
}
.top-bar .contact-header {
    float: right;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    padding: 0 0 0 52px;
}
.top-bar .contact-header:before {
    content: '';
    position: absolute;
    left: 0;
    top: -14px;
    width: 53px;
    height: 45px;
    background: url(../images/ico-phone.gif) no-repeat;
    padding: 0 0 0 52px;
}
.nav-bar {
    padding: 0 0 25px;
}
.home .nav-bar {
    padding: 0 0 6px;
}
.logo {
    float: left;
}
.logo img {
    display: block;
}
#main-menu {
    float: right;
    text-transform: uppercase;
    padding: 25px 0 20px;
}
#main-menu li {
    float: left;
    margin: 0 0 0 3px;
}
#main-menu a {
    color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 7px 14px 6px;
    text-decoration: none;
    position: relative;
}
#main-menu a:hover,
#main-menu .active a{
    background: #66a137;
    color: #fff;
}
#main-menu a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    margin: 0 0 0 -14px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #66a137;
    display: none;
}
#main-menu a:hover:after,
#main-menu .active a:after{
    display: block;
}
/* main */
#main {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#main:after {
    content: '';
    position: absolute;
    width: 1600px;
    height: 25px;
    left: 50%;
    top: 0;
    margin: 0 0 0 -800px;
    background: url(../images/bg-top-shadow.png) no-repeat 50% 0;
    z-index: 5;
}
#main .main-holder {
    margin: 0 auto;
    width: 960px;
    padding: 28px 0 0;
}
/* promo */
.promo {
    width: 100%;
    position: relative;
    margin: 0 0 18px;
    z-index: 1;
    background: #c5c5c5 url(../images/bg-grey-pattern.jpg) repeat-y 50% 0;
}
.promo:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1600px;
    margin: 0 0 0 -800px;
    height: 25px;
    background: url(../images/bg-bottom-shadow.png) no-repeat;
}
.promo .holder {
    position: relative;
    margin: 0 auto;
}
.promo .holder:after,
.promo .holder:before{
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 1px;
    background: url(../images/bg-dot-line.png) repeat-x;
}
.promo .holder:before {
    top: auto;
    bottom: 20px;
}
.promo .frame {
    width: 960px;
    margin: 0 auto;
}
.promo .promo-text {
    font-size: 19px;
    line-height: 24px;
    color: #fff;
    padding: 25px 0 33px 10px;
}
#gallery {
    width:100%;
    height: 270px;
    position: relative;
}
#gallery div.wrap {
    overflow: hidden;
    width: 100%;
    height: 270px;
    position: relative;
}
#gallery div.wrap a.nav-left,
#gallery div.wrap a.nav-right {
    position: absolute;
    display: block;
    width: 12px;
    z-index: 3;
    height: 31px;
    top: 50%;
    margin: -16px 0 0;
    left: 26px;
    background: url(../images/bg-arrow-left.png) no-repeat;
    text-decoration: none;
}
#gallery div.wrap a.nav-right {
    left: auto;
    right: 36px;
    background: url(../images/bg-arrow-right.png) no-repeat;
}
#gallery div.wrap a.nav-left.type2 {
    left: auto;
    right: 40px;
    width: 271px;
    background: none;
}
#gallery div.wrap a.nav-right.type2 {
    left: 40px;
    width: 271px;
    background: none;
}
#gallery a.slide {
    position: absolute;
    top: 31px;
    z-index: 2;
    display: block;
    text-decoration: none;
    line-height: .1em;
}
#gallery a.slide img {
    position: absolute;
    top: 0;
    left: 0;
}
/* section */
#section {
    width: 960px;
    margin: 0 auto 10px;
}
/* sidebar */
#sidebar {
    float: left;
    width: 228px;
    padding: 5px 3px 0 0;
}
#sidebar .menu {
    font-size: 17px;
}
#sidebar .menu > li {
    margin: 0 0 3px;
}
#sidebar .menu > li > a {
    text-decoration: none;
    display: block;
    background: #66a137;
    color: #fff;
    border: 1px solid #a4c789;
    padding: 8px;
}
#sidebar .menu > li > a:hover {
    text-decoration: underline;
}
#sidebar .menu .menu {
    padding: 12px 0 10px;
    margin: 0 3px;
    font-size: 12px;
    position: relative;
}
#sidebar .menu .menu:after {
    content: '';
    height: 1px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 11px;
    background: url(../images/bg-dot-line2.png) repeat-x;
    z-index: 3;
}
#sidebar .menu .menu > li {
    margin: -1px 0 0;
    position: relative;
    z-index: 2;
}
#sidebar .menu .menu > li:hover {
    z-index: 1;
}
#sidebar .menu .menu > li > a {
    background: none;
    border: 0;
    color: #000;
    padding: 6px 2px 2px;
    display: block;
    background: url(../images/bg-dot-line2.png) repeat-x 0 100%;
}
#sidebar .menu .menu > li > a:hover {
    background-color: #dadada;
    text-decoration: none;
}
/* aside */
.aside {
    float: left;
    padding: 4px 12px 0 0;
}
.aside .menu {
    font-size: 12px;
    line-height: 16px;
}
.aside .menu > li {
    margin: 0 0 8px;
}
.aside .menu a {
    color: #000;
    text-decoration: none;
}
.aside .menu a:hover {
    text-decoration: underline;
}
.aside .menu > li > a {
    padding: 0 0 0 13px;
    position: relative;
    text-transform: uppercase;
}
.aside .menu > li.active > a {
    font-weight: bold;
}
.aside .menu > li > a:hover,
.aside .menu > li.active > a{
    color: #66a137;
}
.aside .menu li.active > a {text-decoration: underline;}
.aside .menu > li > a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #66a137;
    display: none;
}
.aside .menu > li > a:hover:after,
.aside .menu > li.active > a:after {
    display: block;
}
.aside .menu ul {
    padding: 5px 0 0 22px;
}
.aside .menu ul li {
    margin: 0 0 5px;
    padding: 0 0 0 8px;
    position: relative;
}
.aside .menu ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 4px;
    height: 1px;
    background: #000;
}
/* content */
#content {
    overflow: hidden;
    padding: 0 0 30px 12px;
}
.intro {
    font-size: 17px;
    line-height: 24px;
    padding: 0 0 14px;
}
.intro h1 {
    font-size: 17px;
    color: #66a137;
    margin: 0 0 10px;
}
.intro p {
    margin: 0 0 10px;
}
#content .text {
    font-size: 12px;
    line-height: 16px;
    padding: 0 0 8px;
}
#content .text p {
    margin: 0 0 10px;
}
/* news */
.news {
    position: relative;
    font-size: 13px;
    line-height: 18px;
    padding: 0 0 34px;
}
.news:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 14px;
    background: url(../images/bg-top-shadow2.png) no-repeat 50% 0;
}
.news h2 {
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    margin: 0 0 10px;
}
.news h2 span {
    color: #fff;
    background: #66a137;
    display: inline-block;
    padding: 5px 10px;
    -moz-box-shadow:    0 2px 15px #999;
    -webkit-box-shadow: 0 2px 15px #999;
    box-shadow:         0 2px 15px #999;
}
.news .columns {
    position: relative;
}
.news .columns:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 13px;
    bottom: 22px;
    width: 2px;
    background: url(../images/bg-dot-line-green.gif) repeat-y;
}
.news .columns .column {
    float: left;
    width: 296px;
    padding: 0 0 0 122px;
}
.news .columns .column:first-child {
    padding-left: 0;
}
.news .post a {
    color: #000;
}
.news .date {
    display: block;
    font-weight: bold;
    margin: 0 0 14px;
}
.news h3 {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 12px;
}
.news .post h3 a {
    text-decoration: none;
    color: #5a8d30;
}
.news h3 a:hover {
    text-decoration: underline;
}
.news .post p {
    margin: 0 0 3px;
}
.news .post .more {
    color: #5a8d30;
    font-weight: bold;
}
/* bottom nav */
.bottom-nav {
    background: #66a137;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 0 9px;
}
.bottom-nav li {
    display: inline-block;
    padding: 0 14px;
}
.bottom-nav a {
    color: #fff;
}
/* dilers */
.dilers {
    padding: 17px 0 0;
    font-size: 15px;
    line-height: 20px;
}
.dilers .column {
    float: left;
    width: 220px;
    padding: 0 50px;
}
.dilers .title-box {
    background: #66a137;
    color: #fff;
    padding: 9px 14px 19px;
    margin: 0 0 13px;
}
.dilers img {
    vertical-align: top;
}
.dilers .ico {
    margin: 0 0 11px;
    min-height: 81px;
}
.dilers h2 {
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
}
.dilers p {
    margin: 0 0 20px;
}
.dilers .phone {
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    margin: 0 0 13px;
    color: #66a137;
}
/* catalog */
.catalog {
    width: 710px;
    margin: 0 -6px 22px 0;
}
.catalog .item {
    display: inline-block;
    vertical-align: top;
    width: 234px;
    margin: 0 0 24px;
}
.catalog .photo {
    text-align: center;
    background: url(../images/bg-bottom-shadow2.png) no-repeat 50% 100%;
    padding: 0 0 42px;
    vertical-align: middle;
    display: table;
    width: 100%;
}
.catalog .photo .cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.catalog .photo img {
    margin: 0 auto;
    vertical-align: middle;
}
.catalog .title {
    margin: -2px 8px 0 2px;
}
.catalog .entry {
    margin: -2px 8px 0 2px;
    font-size: 11px;
    line-height: 16px;
    padding: 0 0 28px;
    position: relative;
}
.catalog h2 {
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    padding: 0 0 11px;
}
.catalog h2 a {
    text-decoration: none;
    color: #000;
}
.catalog h2 a:hover {
    text-decoration: underline;
}
.more {
    padding: 6px 8px;
    text-decoration: underline;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    background: #66a137;
}
.more:hover {
    text-decoration: none;
}
.catalog .more {
	position: absolute;
	bottom: 0;
}
.catalog p {
    margin: 0 0 13px;
}
.catalog-wide {
	padding: 7px 0 0;
	margin: 0;
	width: 100%;
}
.catalog-wide .title {
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 15px;
	padding: 0;
}
.catalog-wide .item {
	width: 317px;
	margin: 0 0 42px;
}
.catalog-wide .photo {
	background: url(../images/bg-bottom-shadow4.png) no-repeat 50% 100%;
	padding: 0 0 54px;
	vertical-align: middle;
	display: table;
	width: 100%;
}
.catalog-wide .entry {
	font-size: 12px;
	margin: 0;
	padding: 3px 12px 40px;
}
.catalog-wide .more {
	font-size: 14px;
}
/* product */
.product {
    padding: 2px 0 0 9px;
}
.product h1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #1f1a16;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.product .visual {
    text-align: center;
}
.product .visual img {
    vertical-align: top;
}
/* tabset */
.tabset {
    width: 100%;
    font-size: 14px;
    position: relative;
    margin: 0 0 12px;
}
.tabset:before {
    content: '';
    position: absolute;
    left: -4px;
    bottom: -4px;
    width: 713px;
    height: 16px;
    background: url(../images/bg-bottom-shadow3.png) no-repeat;
}
.tabset li {
    float: left;
}
.tabset a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: #a8a8a8;
    padding: 7px 12px;
    border-left: 1px solid #808080;
}
.tabset li:first-child a {
    border-left: 0;
}
.tabset li a.active {
    background: #65a037;
}
.product p {
    margin: 0 0 8px;
}
.product h2 {
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
}
.tab-content ul {
    font-size: 13px;
    line-height: 18px;
    padding: 2px 0 0;
}
.tab-content li {
    margin: 0 0 3px;
    padding: 0 0 0 10px;
    position: relative;
}
.tab-content li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 4px;
    height: 1px;
    background: #000;
}
.features table {
    font-size: 12px;
}
.features table th {
    background: #97ca36;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #fff;
    padding: 1px;
    line-height: 15px;
}
.features table td {
    text-align: center;
    vertical-align: middle;
    padding: 5px 1px;
}
.features table tr:nth-child(odd) td {
    background: #ebebeb;
}
/* banner */
.banner {
	position: relative;
	margin: 0 0 14px;
}
.banner:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 1600px;
	margin: 0 0 0 -800px;
	height: 25px;
	background: url(../images/bg-bottom-shadow.png) no-repeat;
}
.banner img {
	display: block;
	margin: 0 auto;
}
/* map */
.map {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1266px;
}
.map img {
	width: 100%;
	height: auto;
}
.contacts {
	margin: 0 auto;
	width: 100%;
	max-width: 1034px;
	font-size: 14px;
	line-height: 21px;
}
.contacts strong {
	font-weight: bold;
}
.contacts p {
	margin: 0 0 19px;
}
.contacts a {
	color: #0006ff;
	text-decoration: none;
}
.contacts a:hover {
	text-decoration: underline;
}
/* page content */
.page-content {
	margin: 0 auto;
	padding: 12px 6px 20px;
	width: 948px;
	font-size: 14px;
	line-height: 23px;
}
.page-content strong {
	font-weight: bold;
}
.page-content p {
	margin: 0 0 10px;
	font-size: 13px;
}
/* news feed */
.news-feed {
	padding: 16px 0 60px;
}
.news-feed .item {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px 24px 40px;
	width: 408px;
}
.news-feed .date {
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #66a137;
	margin: 0 0 10px;
}
.news-feed .title {
	text-transform: uppercase;
	margin: 0 0 9px;
}
.news-feed h2 {
	font-size: 15px;
}
.news-feed .title a {
	color: #000;
	text-decoration: none;
}
.news-feed .title a:hover {
	text-decoration: underline;
}
.news-feed .entry {
	font-size: 13px;
	line-height: 19px;
	text-align: justify;
	position: relative;
	padding: 0 0 35px;
}
.news-feed .more {
	position: absolute;
	bottom: 0;
}
.news-feed p {
	margin: 0 0 10px;
}
/* footer */
#footer {
    width: 100%;
    background: #c5c5c5 url(../images/bg-grey-pattern.jpg) repeat-y 50% 0;
    min-height: 75px;
    position: relative;
    font-size: 11px;
    line-height: 13px;
    padding: 0 0 20px;
}
#footer:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -472px;
    width: 945px;
    height: 14px;
    background: url(../images/bg-top-shadow3.png) no-repeat 50% 0;
}
#footer:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 14px;
    height: 1px;
    width: 100%;
    background: url(../images/bg-dot-line.png) repeat-x;
}
#footer .holder {
    margin: 0 auto;
    width: 920px;
    padding: 24px 25px 0 15px;
}
#footer a {
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
#footer .logo {
    float: right;
}
#footer .copy {
    float: left;
    color: #fff;
    background: url(../images/ico-copy.png) no-repeat 0 50%;
    margin: 0 28px 0 2px;
    padding: 9px 0 4px 61px;
}
#footer .copy a {
    color: #fff;
}
#footer .contact-info {
    float: left;
    padding: 9px 23px 4px 0;
}
#footer .contact-info .column {
    float: left;
    margin: 0 15px 0 0;
}
#footer .contact-info dt {
    display: inline-block;
    vertical-align: top;
}
#footer .contact-info dd {
    display: inline-block;
    vertical-align: top;
}
#footer .contact-info a {
    color: #000;
}
#footer .made-in {
    float: left;
    color: #484848;
    padding: 9px 0 4px;
}
#footer .made-in a {
    color: #484848;
}